input[type=submit] {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    background-color: #FF5722;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    border-style: none;
}

input, textarea, select  {
    width: 65ch !important;
}

textarea {
    resize: none;
}

@media screen and (max-width: 575px) {
    .banner{
        display: none;
    }

    textarea, input, select {
        width: 34ch !important;
    }
}

.banner-align {
    margin-left:auto;
    margin-right:auto;
    max-width: 2080px;  
    width: 100%;
}

#registo {
    width: fit-content !important;
    margin-left: auto;
    margin-right: auto
}

.content-box-white{
    background-image: url("../../static/empresas/img/white-bg.png");
    background-size: cover;
    background-position: center top;
}