input, textarea, select  {
    width: 65ch !important;
}

textarea {
    resize: none;
}

@media screen and (max-width: 575px) {
    .banner{
        display: none;
    }

    textarea, input, select {
        width: 34ch !important;
    }
}

.banner-align {
    margin-left:auto;
    margin-right:auto;
    max-width: 2080px;  
    width: 100%;
}

#registo {
    width: fit-content !important;
    margin-left: auto;
    margin-right: auto;
}
