input, textarea  {
    width: 65ch !important;
}

textarea {
    resize: none;
}

@media screen and (max-width: 575px) {
    .banner{
        display: none;
    }

    textarea, input {
        width: 34ch !important;
    }
}

#registo {
    width: fit-content !important;
    margin-left: auto;
    margin-right: auto;
}


.frame {
    height: 80px; 
    width: 80px;
    padding-bottom: 5px;
    padding-top: 15px;
    padding-left: 15px;
}
.frame img {
    max-height: 100%;
    max-width: 90px;
    width: auto;
    height: auto;
    border-radius: 10px;
}