.titulo-content-box {
    z-index: 2;
    position: relative;
    display: block;
    text-align: center;
    width: max-content;
    padding: 5px;
    background-color: #788A8B;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: -15px;
    margin-bottom: 10px;
}


.content-box-grey {
    position: relative;
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #EEEEEE;
    border: 1px solid rgba(48, 56, 65, 0.15);
    border-radius: 10px;
    width: 750px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.input-content-box{
    z-index: 2;
    margin: 10px;
    background-color: white;
    border: 1px solid rgba(48, 56, 65, 0.15);
    border-radius: 10px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    height: 35px;
    margin-top: 0px;
}


@media screen and (max-width: 1080px) {
    .content-box-grey{
        width: auto;
    }
}

.vagas{
    margin-top: 20px;
    z-index: -1;
}

.frame {
    height: 80px; 
    width: 80px; 
    position: relative;
    
}
.frame img {
    max-height: 100%;
    max-width: 90px;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 10px;
}

@media (max-width:410px) {
    .frame {
        display: none;
    }
    .logo {
        display: none;
    }
    .col-{
        display: none;
    }
}

@media (max-width:315px) {
    .tempo-vaga-content-box-white{
        display: none;
    }
    .right{
        display: none;
    }
}

.vaga-content-box-white{
    z-index: 2;
    background-color: white;
    width: auto;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.vaga-content-box-white img {
    margin: 0;
    padding: 0;
    max-height: 90px;   
    max-width: 90px;  
}


.info{
    width: max-content; float: left;
}

.logo-vaga{
    font-size: 24px;
    float: right;
    margin-right: 0;
}

.titulo-vaga-content-box-white{
    font-weight: bold;
    margin: 0;
}

.empresa-vaga-content-box-white {
    margin: 0;
    margin-top: 5px;
    font-size: 14px;
}

.informacoes-vaga-content-box-white{
    margin-top: 5px;
    font-size: 14px;
}

.informacoes-vaga-content-box-white img{
    width: 14px;
}

.informacoes-vaga-content-box-white a{
    color: black;
    margin-left: 5px;
    margin-right: 10px;
}

.tempo-vaga-content-box-white{
    float: right;
    font-weight: 100;
    font-size: 12px;
    padding-right: 15px;
    margin-top: -30px;
}

a {
    text-decoration: none;
    color: black;
}

.col, .col- {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
}

.col-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none
}