.banner {
    position: relative;
    padding: 0 !important;
    margin: 0 !important;
}

.banner-img{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.banner-text{
    position: absolute;
    font-size: 6vw;
    line-height: 100%;
    font-weight: bold;
    color: white;
    top: 5%;
    margin-left: 0%;
    text-shadow: 1px 1px 20px #000000;
    padding: 8px 16px!important;
}

input, textarea  {
    width: 65ch !important;
}

textarea {
    resize: none;
}

@media screen and (max-width: 575px) {
    .banner{
        display: none;
    }

    textarea, input {
        width: 34ch !important;
    }
}

.banner-align {
    margin-left:auto;
    margin-right:auto;
    max-width: 2080px;  
    width: 100%;
}

#registo {
    width: fit-content !important;
    margin-left: auto;
    margin-right: auto;
}

