table, th, td {
    border: 3px solid #303841da;
    border-collapse: collapse;
}

th {
    background-color: #303841da;
    color: white;
    padding: 5px;
}

td{
    padding-right: 5px;
    padding-left: 5px;
}  

figure img, #mapaWebsite {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    max-height: 300px;
}

figure {
    padding:20px;
}

figcaption {
    padding-top: 15px;
    text-align: center;
}


@media screen and (max-width: 1080px) {
    iframe {
        width: 100%;
    }
}
