<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <title>Empresas - NoExperience</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../static/empresas/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="../../static/empresas/img/favicon.ico" />
  <meta name="description" content="Anuncie aqui as suas vagas para pessoas sem experiência profissional.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../../static/empresas/criar-vaga.css">
</head>


<body>

  <header>
    <ul class="navbar">
      <div class="content">
        <li id="navbar-logo"><a href="index.html"><img class="navbar-logo" src="../../static/empresas/img/logo.png"></a>
        </li>

        <li><a href="index.html">Início</a></li>
        <li><a href="listar-vagas-criadas.html">Minhas Vagas</a></li>
        <li><a href="detalhes-empresa.html">Conta</a></li>
        <li><a href="requerimentos-pw.html">Sobre o Website</a></li>

        <div class="navbar-secondary">
          <li><a href="criar-vaga.html"><button id="anunciar">Anunciar</button></a></li>
        </div>
      </div>
    </ul>
  </header>

  <main>

    <div class="head-title">
      <article>
        <h2>Anunciar Vaga</h2>
      </article>
    </div>

    <div class="space"></div>  

    <article id="registo">
      <form method="post" action="mailto:g1a9p9m8@gmail.com">
        <div class="box">
          <div class="content-box-grey">
            <p class="titulo-content-box">Detalhes da Vaga</p>

            <p class="input-label">Nome da Vaga:</p>
            <div class="input-content-box">
              <input required autofocus type="text" name="nome" placeholder=""></input>
            </div>

            <p class="input-label">Categoria:</p>
            <div class="input-content-box">
              <select name="categoria" id="categoria">
                <option value="Todos">Todos</option>
                <option value="administrativo">Administrativo</option>
                <option value="comunicacao">Comunicação</option>
                <option value="engenharia">Engenharia</option>
                <option value="informatica">Informática</option>
                <option value="marketing">Marketing</option>
                <option value="restauracao">Restauração</option>
                <option value="seguranca">Segurança</option>
                <option value="turismo">Turismo</option>
              </select>
            </div>

            <p class="input-label">Localização:</p>
            <div class="input-content-box">
              <select name="localizacao" id="localizacao">
                <option value="Todos">Todos</option>
                <option value="acores">Açores</option>
                <option value="aveiro">Aveiro</option>
                <option value="beja">Beja</option>
                <option value="braga">Braga</option>
                <option value="braganca">Bragança</option>
                <option value="casteloBranco">Castelo Branco</option>
                <option value="coimbra">Coimbra</option>
                <option value="evora">Évora</option>
                <option value="faro">Faro</option>
                <option value="guarda">Guarda</option>
                <option value="leiria">Leiria</option>
                <option value="lisboa">Lisboa</option>
                <option value="madeira">Madeira</option>
                <option value="portalegre">Portalegre</option>
                <option value="porto">Porto</option>
                <option value="santarem">Santarém</option>
                <option value="setubal">Setúbal</option>
                <option value="viana">Viana do Castelo</option>
                <option value="vilaReal">Vila Real</option>
                <option value="viseu">Viseu</option>
              </select>
            </div>

            <p class="input-label">Horário:</p>
            <div class="input-content-box">
              <select name="horario" id="horario">
                <option value="Todos">Todos</option>
                <option value="fulltime">Full-Time</option>
                <option value="parttime">Part-Time</option>
              </select>
            </div>

            <p class="input-label">Trabalho Remoto:</p>
            <div class="input-content-box">
              <select name="remoto" id="remoto">
                <option value="Todos">Todos</option>
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
                <option value="parcial">Parcial</option>
              </select>
            </div>

            <p class="input-label">Tipo de Contrato:</p>
            <div class="input-content-box">
              <select name="contrato" id="contrato">
                <option value="Todos">Todos</option>
                <option value="semTermo">Sem Termo</option>
                <option value="aTermo">A Termo</option>
                <option value="prestacaoServico">Prestação de Serviço</option>
                <option value="estagioprofissional">Estágio Profissional</option>
                <option value="estagiocurricular">Estágio Curricular</option>
              </select>
            </div>

            <p class="input-label">Descrição:</p>
            <div class="input-content-box">
              <textarea required name="descricao" id="descricao" cols="50" rows="10"></textarea>
            </div>

          </div>
          <button type="submit">Criar Vaga</button>
        </div>
      </form>
    </article>

    <div class="space"></div>

    <article id="registo">
      <div class="box">
        <div class="content-box-grey">
          <p class="titulo-content-box">Política de Palavras Proibidas</p>
          <div class="content-box-white">
            <div class="text">
              <p>
                Na nossa plataforma é proibido a utilização das seguintes palavras:<br><br>
                  &emsp;- Experiência<br>
                  &emsp;- Sénior<br>
                  &emsp;- Anos<br><br>
                Consideramos que estas palavras vão contra a ideologia da plataforma. 
              </p>
            </div>
          </div>  
        </div>
      </div>
    </article>      
    
  </main>

  <div class="space"></div>

  <footer>
    <div>
      <u>Páginas</u>
      <ul>
        <li><a href="index.html">Login</a></li>
        <li><a href="registo.html">Registo</a></li>
        <li><a href="detalhes-empresa.html">Conta</a></li>
        <li><a href="listar-vagas-criadas.html">Minhas Vagas</a></li>
        <li><a href="criar-vaga.html">Anunciar Vaga</a></li>
      </ul>
    </div>
    <div>
      <u>Sobre Nós</u>
      <ul>
        <li><a href="requerimentos-pw.html">Sobre o Website</a></li>
      </ul>
    </div>
    <div>
      <u>Privacidade</u>
      <ul>
        <li><a>Termos e Condições</a></li>
        <li><a>Política de Privacidade</a></li>
      </ul>
    </div>

  </footer>

</body>

</html>