<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>Empresas - NoExperience</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/empresas/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/empresas/img/favicon.ico" />
    <meta name="description" content="Anuncie aqui as suas vagas para pessoas sem experiência profissional.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../static/empresas/detalhes-empresa.css">
</head>

<body>

    <header>
        <ul class="navbar">
            <div class="content">
                <li id="navbar-logo"><a href="index.html"><img class="navbar-logo"
                            src="../../static/empresas/img/logo.png"></a></li>

                <li><a href="index.html">Início</a></li>
                <li><a href="listar-vagas-criadas.html">Minhas Vagas</a></li>
                <li><a href="detalhes-empresa.html">Conta</a></li>
                <li><a href="requerimentos-pw.html">Sobre o Website</a></li>

                <div class="navbar-secondary">
                    <li><a href="criar-vaga.html"><button id="anunciar">Anunciar</button></a></li>
                </div>
            </div>
        </ul>
    </header>



    <main>
        

        <div class="head-title">
            <article>
                <h2>Detalhes da Conta</h2>
            </article>
        </div>

        <div class="space"></div>


        <article id="registo">
            <form method="POST">
                <div class="box">
                    <div class="content-box-grey">
                        <p class="titulo-content-box">Atualizar Dados</p>
                        <p class="input-label">E-mail:</p>
                        <div class="input-content-box">
                            <input type="text" name="nome" value="mail@aempresa.com"></input>
                        </div>

                        <p class="input-label">Alterar Password:</p>
                        <div class="input-content-box">
                            <input type="password" id="password" name="password" placeholder="******">
                        </div>

                        <p class="input-label">Confirmar password:</p>
                        <div class="input-content-box">
                            <input type="password" id="cpassword" name="cpassword" placeholder="******">
                        </div>

                        <p class="input-label">Nome da Empresa:</p>
                        <div class="input-content-box">
                            <input type="text" id="nome" name="nome" value="XPTO, Lda">
                        </div>

                        <p class="input-label">Descrição da Empresa:</p>
                        <div class="input-content-box">
                            <textarea name="descricao" id="descricao" rows="10" placeholder="">A empresa XPTO, Lda é líder do mercado e conta com mais de 30 anos de experiência no ramo da Contabilidade. Conta com um escritório em Lisboa e outro no Porto. Junte-se a nós!</textarea>
                        </div>

                        <p class="input-label">Logótipo:</p>
                        <div class="input-content-box">
                            <div class="frame">
                                <img class="logo" src="../../static/empresas/img/your-logo.png">
                            </div>    
                            <input type="file" name="logo">
                        </div>
                    </div>
                    <button type="submit">Guardar</button>
                </div>
            </form>
        </article>
    </main>

    <div class="space"></div>

    <footer>
        <div>
            <u>Páginas</u>
            <ul>
                <li><a href="index.html">Login</a></li>
                <li><a href="registo.html">Registo</a></li>
                <li><a href="detalhes-empresa.html">Conta</a></li>
                <li><a href="listar-vagas-criadas.html">Minhas Vagas</a></li>
                <li><a href="criar-vaga.html">Anunciar Vaga</a></li>
            </ul>
        </div>
        <div>
            <u>Sobre Nós</u>
            <ul>
                <li><a href="requerimentos-pw.html">Sobre o Website</a></li>
            </ul>
        </div>
        <div>
            <u>Privacidade</u>
            <ul>
                <li><a>Termos e Condições</a></li>
                <li><a>Política de Privacidade</a></li>
            </ul>
        </div>

    </footer>

</body>

</html>