<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>Empresas - NoExperience</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/empresas/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/empresas/img/favicon.ico" />
    <meta name="description" content="Anuncie aqui as suas vagas para pessoas sem experiência profissional.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../static/empresas/listar-vagas.css">
</head>

<body>

    <header>
        <ul class="navbar">
            <div class="content">
                <li id="navbar-logo"><a href="index.html"><img class="navbar-logo"
                            src="../../static/empresas/img/logo.png"></a></li>

                <li><a href="index.html">Início</a></li>
                <li><a href="listar-vagas-criadas.html">Minhas Vagas</a></li>
                <li><a href="detalhes-empresa.html">Conta</a></li>
                <li><a href="requerimentos-pw.html">Sobre o Website</a></li>

                <div class="navbar-secondary">
                    <li><a href="criar-vaga.html"><button id="anunciar">Anunciar</button></a></li>
                </div>
            </div>
        </ul>
    </header>
    <!--
        - Onde são listadas as vagas criadas pela empresa
        - Onde pode apagar vagas e edita-las
    -->

    <main>

        <div class="head-title">
            <article>
                <h2>Vagas que anunciou</h2>
            </article>
        </div>

        <div class="space"></div>

        <article>
            <div class="vagas">
                <div class="content-box-grey">
                    <p class="titulo-content-box">Minhas Vagas</p>


                    <a href="detalhes-vaga.html">
                        <div class=" vaga-content-box-white">
                            <div class="grid">
                                <div class="row" style="padding: 10px;">
                                    <div class="col-1" style="margin: 10px;">
                                        <div class="frame">
                                            <img class="logo" src="../../static/empresas/img/your-logo.png">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <p class="titulo-vaga-content-box-white">Professor Assistente</p>
                                        <div style="margin-left: 10px;">
                                            <p class="empresa-vaga-content-box-white">Universidade Lusófona</p>
                                            <div class="informacoes-vaga-content-box-white">
                                                <div class="info">
                                                    <img src="../../static/empresas/img/pin.svg"><a>Lisboa</a>
                                                </div>
                                                <div class="info">
                                                    <img src="../../static/empresas/img/clock.svg"><a>Full-time</a>
                                                </div>
                                                <div class="info">
                                                    <img src="../../static/empresas/img/document-text-outline.svg"><a>A
                                                        termo</a>
                                                </div>
                                                <div class="info">
                                                    <img src="../../static/empresas/img/laptop-outline.svg"><a>Parcial</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto" class="right">
                                        <img class="logo-vaga" src="../../static/empresas/img/delete.svg">
                                        <img class="logo-vaga" src="../../static/empresas/img/edit.svg" style="padding-right: 10px;">
                                    </div>
                                </div>
                            </div>
                            <p class="tempo-vaga-content-box-white">Há 3 dias</p>
                        </div>
                    </a>


                    <a href="detalhes-vaga.html">
                        <div class=" vaga-content-box-white">
                            <div class="grid">
                                <div class="row" style="padding: 10px;">
                                    <div class="col-1" style="margin: 10px;">
                                        <div class="frame">
                                            <img class="logo" src="../../static/empresas/img/your-logo.png">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <p class="titulo-vaga-content-box-white">Contabilista</p>
                                        <div style="margin-left: 10px;">
                                            <p class="empresa-vaga-content-box-white">MaisContabilidade</p>
                                            <div class="informacoes-vaga-content-box-white">
                                                <div class="info">
                                                    <img src="../../static/empresas/img/pin.svg"><a>Lisboa</a>
                                                </div>
                                                <div class="info">
                                                    <img src="../../static/empresas/img/clock.svg"><a>Full-time</a>
                                                </div>
                                                <div class="info">
                                                    <img src="../../static/empresas/img/document-text-outline.svg"><a>A
                                                        termo</a>
                                                </div>
                                                <div class="info">
                                                    <img src="../../static/empresas/img/laptop-outline.svg"><a>Não</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto" class="right">
                                        <img class="logo-vaga" src="../../static/empresas/img/delete.svg">
                                        <img class="logo-vaga" src="../../static/empresas/img/edit.svg" style="padding-right: 10px;">
                                    </div>
                                </div>
                            </div>
                            <p class="tempo-vaga-content-box-white">Há 3 dias</p>
                        </div>
                    </a>


                </div>
            </div>
        </article>
    </main>

    <div class="space"></div>

    <footer>
        <div>
            <u>Páginas</u>
            <ul>
                <li><a href="index.html">Login</a></li>
                <li><a href="registo.html">Registo</a></li>
                <li><a href="detalhes-empresa.html">Conta</a></li>
                <li><a href="listar-vagas-criadas.html">Minhas Vagas</a></li>
                <li><a href="criar-vaga.html">Anunciar Vaga</a></li>
            </ul>
        </div>
        <div>
            <u>Sobre Nós</u>
            <ul>
                <li><a href="requerimentos-pw.html">Sobre o Website</a></li>
            </ul>
        </div>
        <div>
            <u>Privacidade</u>
            <ul>
                <li><a>Termos e Condições</a></li>
                <li><a>Política de Privacidade</a></li>
            </ul>
        </div>

    </footer>

</body>

</html>