<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>Empresas - NoExperience</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/empresas/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/empresas/img/favicon.ico" />
    <meta name="description" content="Anuncie aqui as suas vagas para pessoas sem experiência profissional.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../static/empresas/requerimentos-pw.css">
</head>


<body>

    <header>
        <ul class="navbar">
            <div class="content">
                <li id="navbar-logo"><a href="index.html"><img class="navbar-logo"
                            src="../../static/empresas/img/logo.png"></a></li>

                <li><a href="index.html">Início</a></li>
                <li><a href="listar-vagas-criadas.html">Minhas Vagas</a></li>
                <li><a href="detalhes-empresa.html">Conta</a></li>
                <li><a href="requerimentos-pw.html">Sobre o Website</a></li>

                <div class="navbar-secondary">
                    <li><a href="criar-vaga.html"><button id="anunciar">Anunciar</button></a></li>
                </div>
            </div>
        </ul>
    </header>

    <main>

        <!--
        - Onde cumprimos os requerimentos do Projeto de PW

        -Tabela de Inventário [x]
        -Tabela de Técnicas Usadas [x]
        -Video de Apresentacao
        -Mapa do Website
        -Wordcloud [x]
        -Animações (Keyframes)
        -->

        <div class="head-title">
            <article>
                <h2>Sobre o Website</h2>
            </article>
        </div>

        <article>
            <h3>Tabela de Inventário</h3>
            <table border="2">
                <thead>
                    <tr>
                        <th>Elementos</th>
                        <th>Utilizado quantas vezes?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Páginas</td>
                        <td style="text-align:center">7</td>
                    </tr>
                    <tr>
                        <td>Imagens</td>
                        <td style="text-align:center">10</td>
                    </tr>
                    <tr>
                        <td>Links Externos</td>
                        <td style="text-align:center">3</td>

                    </tr>
                    <tr>
                        <td>Vídeos</td>
                        <td style="text-align:center">1</td>
                    </tr>
                    <tr>
                        <td>Animações</td>
                        <td style="text-align:center">2</td>
                    </tr>
                </tbody>
            </table>
        </article>

        <article>
            <h3>Tabela de Técnicas Usadas</h3>
            <table border="2">
                <thead>
                    <tr>
                        <th>Características</th>
                        <th>Elementos/Técnicas</th>
                        <th>Exemplos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Layouts</td>
                        <td>Foi usado o CSS grid e CSS flexbox para construção de layouts</td>
                        <td>Css flexbox serviu para posicionar os elementos nas páginas</td>
                    </tr>
                    <tr>
                        <td>Responsividade</td>
                        <td>Foram usadas media queries que adaptam o layout para telemovel e PC consoante o tamanho da
                            janela do
                            browser</td>
                        <td><i>@media screen and (max-width: 1080px)</i> - Usado para mudar elementos quando o ecrã é
                            menor
                            que
                            1080 pixels</td>
                    </tr>
                    <tr>
                        <td>Seletores</td>
                        <td>Foram usados os seletores universais, de tipo, classe, identificador, atributos,
                            pseudo-classe,
                            pseudo-elemento, tal como os combinadores de seletores CSS (filhos, adjacentes, etc.)</td>
                        <td>Seletor de classe - <i>".banner"</i></td>
                    </tr>
                    <tr>
                        <td>Etiquetas</td>
                        <td>HTML5 html, main, header, article, footer, iframe, body, nav, input,,ul,li,a,article,
                            p,h,table, thead, tbody, tr, td, form, etc.</td>
                        <td><i>footer</i> - usado no fim de cada página com informações sobre o website</td>
                    </tr>
                    <tr>
                        <td>Animações</td>
                        <td>Foram feitas animações utilizando keyframes. Estas animações permitem mudar o estilo da
                            página
                        </td>
                        <td><i>@keyframes</i> - Usado para alterar a cor do Banner</td>
                    </tr>
                </tbody>
            </table>
        </article>

        <article>
            <h3>Vídeo de Apresentação do Website</h3>
            <iframe width="60%" height="315" title="Video de Apresentação do WebSite"
                src="https://www.youtube.com/embed/i36-miobwyo" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </article>

        <article>
            <h3>Mapa do Website</h3>
            <img alt="mapaWebsite" src="../../static/empresas/img/mapaWebsite.png" id="mapaWebsite">
        </article>

        <article>
            <h3>Layouts</h3>
            <figure>
                <img src="../../static/empresas/img/layout_home.png" alt="fig1">
                <figcaption>Fig.1 - Layout da página Home</figcaption>
            </figure>

            <figure>
                <img src="../../static/empresas/img/layout_paginas-secundarias.png" alt="fig2">
                <figcaption>Fig.2 - Layout das páginas secundárias</figcaption>
            </figure>

            <figure>
                <img src="../../static/empresas/img/layout_mobile.png" alt="fig3">
                <figcaption>Fig.3 - Layout do Mobile</figcaption>
            </figure>

        </article>

        <article>
            <h3>Webgrafia</h3>
            <li><a href="https://www.pexels.com/pt-br/">Pexels</a></li>
            <li><a href="https://fonts.google.com/">Google Fonts</a></li>
            <li><a href="https://material.io/">Material Icons</a></li>
        </article>

    </main>

    <div class="space"></div>

    <footer>
        <div>
            <u>Páginas</u>
            <ul>
                <li><a href="index.html">Login</a></li>
                <li><a href="registo.html">Registo</a></li>
                <li><a href="detalhes-empresa.html">Conta</a></li>
                <li><a href="listar-vagas-criadas.html">Minhas Vagas</a></li>
                <li><a href="criar-vaga.html">Anunciar Vaga</a></li>
            </ul>
        </div>
        <div>
            <u>Sobre Nós</u>
            <ul>
                <li><a href="requerimentos-pw.html">Sobre o Website</a></li>
            </ul>
        </div>
        <div>
            <u>Privacidade</u>
            <ul>
                <li><a>Termos e Condições</a></li>
                <li><a>Política de Privacidade</a></li>
            </ul>
        </div>

    </footer>

</body>

</html>